* {
    text-decoration: none;
}

ol {
    background-color: yellow;
    margin-right: 15%;
}

.orderedList li:nth-child(even) {
    color: green;
}
/* OUTRO JEITO DE FAZER - GABARITO /* 
ol li:nth-child(even) {
  color: green;
} */

.orderedList li:nth-child(odd) {
    text-transform: uppercase;
}
h1, h2 {
    color: red;
    margin-right: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;   
}

.orderedList em {
    font-weight: bold;
}

#link1:hover {
    color: orange;
}
/* OUTRO JEITO DE FAZER - GABARITO /* 
#aliados li a[href*="stackoverflow"] {
  color: orange;
} */
#link2:hover {
    color: greenyellow;
}
#link3:hover {
    color: black;
}
#link4:hover {
    color: yellow;
}
#link5:hover {
    color: green;
}

.links {
    font-weight: bold;
}

#tresPrimeiros {
    color: blue;
}
/* OUTRO JEITO DE FAZER - GABARITO /*.links li:not(:nth-child(n + 4)) {
    color: blue
/*/

#java {
    background-color: pink;
    margin-right: 93%;
}