div:hover {
    border: 5px solid black;
}

div:nth-child(odd) {
    background: lightgreen;
  }
  /*OUTRO JEITO DE FAZER - GABARITO/* 
  div:nth-of-type(1) {
  background-color: red;
} */

#d1 {
    color: blue;
    font-style: italic;
}
/*OUTRO JEITO DE FAZER - GABARITO/* 
div:nth-of-type(1) > h3 {
  color: purple;
} */

#d2 {
    color: purple;
    font-style: italic;
}
/*OUTRO JEITO DE FAZER - GABARITO/* 
div:nth-child(odd) h3 {
  font-style: italic
} */
#d3 {
    color: yellow;
    font-style: italic;
    font-size: 1.3em;
}
#d4 {
    color: green;
    font-style: italic;
}
#d5 {
    color: lightcoral;
    font-style: italic;
}
