div:hover {
    border: 5px solid black;
}

div:nth-child(odd) {
    background: lightgreen;
  }

#d1 {
    color: blue;
    font-style: italic;
}
#d2 {
    color: purple;
    font-style: italic;
}
#d3 {
    color: yellow;
    font-style: italic;
    font-size: 1.3em;
}
#d4 {
    color: green;
    font-style: italic;
}
#d5 {
    color: lightcoral;
    font-style: italic;
}